.bgc {
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(50, 50, 50, 0.4)),
    url("../../public/img/img-header.png");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}