.link {
    text-decoration: none;
    color: #00b7ff;
    ;

    &:hover {
        border-bottom: 3px solid white
    }
}

@media (max-width:768px) {
    .descr {
        font-size: 12px;
    }
}

@media (max-width:376px) {
    .descr {
        font-size: 11px;
    }
}

@media (min-width:1200px) {
    .descr {
        font-size: 18px;
    }
}