.about {
    text-align: center;
    margin-top: 60px;
}
.about-title {
    color: white;
}
.about-text {
    color: white;
    font-size: 16px;
}

@media (max-width:786px) {
    .about-title {
        font-size: 20px;
    }
}