.about {
    text-align: center;
}
.about-title {
    color: white;
}
.about-text {
    color: white;
    font-size: 16px;
}

@media (max-width:768px) {
    .about-title {
        font-size: 20px;
    }
}

@media (max-width:400px) {
    .descr {
        font-size: 11px;
    }
    .about-text {
        font-size: 12px;
    }
}

