.footer {
    color: rgb(201, 198, 198);
    font-size: 15px;
    // position: absolute;
    // bottom: 25px;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

@media (max-width:768px) {
    .footer {
        bottom: 30px
    }
}


@media (max-width:500px) {
    .footer {
        font-size: 10px;
        bottom:27px;
    }
}