.footer {
    color: rgb(201, 198, 198);
    font-size: 15px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, -50%);

}

@media (max-width:786px) {
    .footer {
        bottom: 50px
    }
}


@media (max-width:375px) {
    .footer {
        font-size: 12px;
    }
}