.descr {
    text-align: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.hello {
    font-size: 40px;
    font-weight: 600;
}

.descr-text {
    font-size: 20px;
    margin-top: 10px;
}

.descr-btn {
    margin-top: 20px;
    color: gray;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 20px;

    &:hover {
        color: white;
        background-color: #639;

    }
}

@media (max-width:786px) {
    .descr {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .hello {
        font-size: 23px;
    }

    .descr-text {
        font-size: 15px;
        text-align: center;
        width: 300px;
    }

    .descr-btn {
        font-size: 15px;
    }
}
@media (max-width:400px) {
    .descr-text {
        font-size: 12px;
    }
}